<div class="container-fluid qushneez-kid">
  <div class="container text-center">
    <div class="row">
      <h1 class="qushnezz-trademark">COMING SOON...<br>spontaneous playwear for kids, <br>because you never know when a child is going to break out into play.</h1>
    </div>
  </div>
</div>
<div class="container">
  <!-- circle bullet thirds marketing -->
  <div class="selling-points row">
    <div class="col-xs-12 text-center">
      <h1 class="handwritting orange">Be a Kid, Just Go Play!</h1>
      <div class="media-heading">
        <br>
        <p class="lead">qushneez is a distinctive line of activewear for babies and kids that is both stylish and protective.  We designed an everyday pant that protects the most vulnerable part of an active child, their knees.</p>
        <br>
        <p class="marketing-heading-maroon lead">Empowering parents to encourage kids to be active</p>
      </div>
    </div>
  </div>
  <!-- 2st bullet technology marketing -->
</div>
<div class="container-fluid marketing-section text-center">
  <div class="container">
    <div class="col-md-4">
      <%= fa_icon "smile-o 4x", class: "maroon" %>
      <hr>
      <p class="lead">Happy children make happy parents.  Cushions are built into the knee area of the pants shielding the knee from the inevitable bumps, bruises and scrapes that accur from just being a kid.</p>
    </div>
    <div class="col-md-4">
      <%= fa_icon "shield 4x", class: "maroon" %>
      <hr>
      <p class="lead">The materials used for the cusions are durable, stretchable, waterproof, won't lose their shape, are comfortable against the skin, and can go right into the washer and dryer.</p>
    </div>
    <div class="col-md-4">
      <%= fa_icon "child 4x", class: "maroon" %>
      <hr>
      <p class="lead">We designed an everyday pant that protects the most vulnerable part of an active child, their knees... gives parents one less thing to worry about.</p>
    </div>
  </div>
</div>
<div class="container about-us">
    <div class="col-md-3 text-center">
      <%= fa_icon "building-o", class: "orange" %>
    </div>
    <div class="col-md-9">
      <blockquote>
        <p class="lead">"Strategically placed neoprene "cushions" are sewn into the knees, helping shield them from scrapes and bruises, as well as adding life to the garment, no more holes in knees.  Neoprene is best know as the material used for scuba diving wetsuits.  It is the perfect material because it is a good insulator, stetchy, waterproof, and comes in different thicknesses.  Our legwear is made out of the softest and most durable materials that allow for maximum protection and movement.  While wearing qushneez legwear, kids can play like kids while being protected whenever little knees can use it.  So now you don't have to say "no" or "be careful" you can just say "go out and play".</p>
      </blockquote>
    </div>
</div>
<h1 class="text-center maroon handwritting">What does your kid do?</h1>
  <br>
<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 kids-playing">
      <%= image_tag("download.jpg", width: '200', height: '200') %>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 kids-playing">
      <%= image_tag("soccer 1.jpg", width: '200', height: '200') %>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 kids-playing">
      <%= image_tag("littlegirl.jpg", width: '200', height: '200') %>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 kids-playing">
      <%= image_tag("stock-photo-active-little-kids-playing-lacrosse-332620991.jpg", width: '200', height: '200') %>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 kids-playing">
      <%= image_tag("download.jpg", width: '200', height: '200') %>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 kids-playing">
      <%= image_tag("soccer 1.jpg", width: '200', height: '200') %>
    </div>
    <div class="hidden-md hidden-lg col-md-12 kids-playing">
      <%= image_tag("soccer 1.jpg", width: '200', height: '400') %>
    </div>
  </div>
</div>



