<!DOCTYPE html>
<html>
<head>
  <title>Qushneez</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('favicon.ico') %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static text-center">
  <%= image_tag("og_image.png") %>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Product</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<%= yield %>

</body>
  <br>
  <hr>
  <footer>
    <div class="container grey">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center">Questions?  We are here for you!</p>
          <hr>
          <address>
            <strong>qushneez, LLC.</strong><br>
            <%= fa_icon "map-marker" %>  1234 Market Street, San Francisco, CA 94103<br>
            <%= fa_icon "phone" %>  (415) 269-8921
          </address>
          <address>
          <strong>Samantha Ford</strong><br>
          <a href="mailto:samstevens@msn.com">samstevens@msn.com</a>
        </address>
        <%= fa_icon "cc-visa 2x", class: "grey" %> <%= fa_icon "cc-mastercard 2x", class: "grey" %> <%= fa_icon "cc-discover 2x", class: "grey" %> <%= fa_icon "cc-amex 2x", class: "grey" %>
        </div>
        <div class="col-md-4">
          <p class="text-center">Links</p>
          <hr>
          <h5>About us</h5>
          <h5>Products</h5>
          <h5>Policies</h5>
          <h5>Patents</h5>
          <h5>Mission statement</h5>
        </div>
        <div class="col-md-4">
          <p class="text-center">Sign up!</p>
          <hr>
          <h4 class="orange">get instant updates about our new products and special promos!</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-default">Sign up</button>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <div class="container grey text-center">
      <div class="col-md-12 line">
        <h4 class="handwritting maroon">Follow us!</h4>
        <span><%= fa_icon "facebook 2x", class: "maroon social-padding" %> <%= fa_icon "instagram 2x", class: "maroon social-padding" %><%= fa_icon "twitter 2x", class: "maroon social-padding" %><%= fa_icon "pinterest 2x", class: "maroon" %><span>
        <br>
        <br>
        <%= fa_icon "copyright" %> 2017 qushneez llc 
        <br>
        <br>
        <br>
        <h4 class="grey">qushneez</h4>
      </div>
    </div>

  </footer>
</html>
